.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

#header
  text-align center
  margin 0 0 50px 0

#autoimg
  background-color #fff
  border 1px solid #D1D1D1
  border-radius 4px

#autoimg > svg
  float left
  border 2px solid red

#autospec
  padding 0
  margin 0

#autospec > textarea
  
  padding 6px 10px
  background-color #fff
  border 1px solid #D1D1D1
  border-radius 4px
  box-shadow none
  box-sizing border-box
  resize vertical
  width 300px
  height 300px

 