#header
  text-align center
  margin 0 0 50px 0

#autoimg
  background-color #fff
  border: 1px solid #D1D1D1
  border-radius 4px
  // box-shadow none
  box-sizing border-box

#autospec
  padding 0
  margin 0

#autospec > textarea
  width 100%
  padding 6px 10px
  background-color #fff
  border 1px solid #D1D1D1
  border-radius 4px
  box-shadow none
  box-sizing border-box
  resize vertical
