# Front-end
/app/
brunch-config.js

# Docs
/docs/

# Nix environment
*.nix

# Git
.gitignore
/.git

# Logs
gs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Production
/public/
/build/

# Asciidoctor output
docs/*.html
