# Front-end
/app/
brunch-config.js

# Pages
/pages/

# ESLint
.eslintrc

# Nix environment
*.nix

# Git
.gitignore
/.git

# Logs
gs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Production
/build/
